%nav
  %ul.list
    %li.list__item
      = link_to "#home" do
        %i.list__item-icon.fa-solid.fa-house
        .list__item-text Home
    %li.list__item
      = link_to "#education" do
        %i.list__item-icon.fa-solid.fa-user-graduate
        .list__item-text Education
    %li.list__item
      = link_to "#experience" do
        %i.list__item-icon.fa-solid.fa-laptop-code
        .list__item-text Experience
    %li.list__item
      = link_to "#contact" do
        %i.list__item-icon.fa-solid.fa-message
        .list__item-text Contact
