%section.home
  .intro
    %svg.intro__logo{:viewbox => "0 0 853 495", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M 0 0 V315 C 0 555, 391 555, 391 315 V0 H365 V315 C 365 515, 26 515, 26 315 V0 Z M475 0 V486 H853 V465 L665 203 L647 221 L815 459 H503 V365 L853 16 V0 H475 Z"}
    .intro__hello
      Hello, I'm
    .intro__name
      %h1 Usman Kabir
      %title Ruby on Rails, Full-Stack Developer - Usman Kabir
      %meta(name="description" content="Full-Stack developer, working as a freelancer")/
    .intro__designation
      %h2 Full-Stack Developer
      %title Ruby on Rails, Full-Stack Developer - Usman Kabir
      %meta(name="description" content="Full-Stack developer, working as a freelancer on these web technologies. Ruby on Rails, HTML, CSS, Bootstrap, JavaScript and Tailwind")

    .intro__image
      = image_tag 'thumbnail.jpg', alt: 'Usman Kabir Avatar'
