%nav 
  %ul 
    %li 
      = link_to '#home' do
        %i.fa-solid.fa-house
    %li 
      = link_to '#about' do
        %i.fa-solid.fa-user-large
    %li 
      = link_to '#contact' do
        %i.fa-solid.fa-envelope
