%nav 
  %ul 
    %li 
      = link_to '#home' do
        %span.material-icons-outlined home
    %li 
      = link_to '#about' do
        %span.material-icons-outlined person
    %li 
      = link_to '#contact' do
        %span.material-icons-outlined email