%section#education
  .container.education
    .education__heading
      %h2 Education

    .education__content
      %h3 Bachelor of Science in Computer Science
      .institute
        National University of Computer and Emerging Sciences, Lahore
      %span.year 2018
      %p
        %strong Majors:
        %span Object Oriented Programming, Data Structures, Algorithms, Database, Web Programming, Software Engineering

    .education__content
      %h3 Intermediate of Computer Science
      .institute
        Punjab College Okara
      %span.year 2014
      %p
        %strong Majors:
        %span Computer, Mathematics, Physics

    .education__content
      %h3 Matriculation
      .institute
        Kahnur Education House, Renala Khurd
      %span.year 2012
      %p
        %strong Majors:
        %span Physics, Chemistry, Biology
