%section#education
  .container.education
    .education__heading
      %h2 Education

    .education__content
      %h3 National University of Computer & Emerging Sciences, Lahore
      %span.year 2018
      .degree
        %span BSCS
      %p
        %strong Majors:
        %span OOP, Algorithms, Database, Web Programming, Software Engineering

    .education__content
      %h3 Punjab College, Okara
      %span.year 2014
      .degree
        %span ICS
      %p
        %strong Majors:
        %span Physics, Mathematics, Computer

    .education__content
      %h3 Kahnur Education House, Renala Khurd
      %span.year 2012
      .degree
        %span Matric
      %p
        %strong Majors:
        %span Physics, Chemistry, Biology
