*, *::before, *::after{
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: auto;
}

section{
  padding-block-start: 64px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  .container{
    margin: 3rem 1rem;
    flex: 1;
  }
}
@media (max-width: 767.98px) {
  section{
    scroll-snap-align: none;
  }
}

section:nth-child(even){
  background-color: var(--surface1);
}

section:nth-child(odd){
  background-color: var(--surface0);
}
