:root{

  --surface1: hsl(0, 0%, 96%);
  --surface2: hsl(0, 0%, 100%);
  --surface3: hsla(0, 0%, 78%, 0.3);
  --surface4: hsla(0, 0%, 0%, 0.2);
  --surface5: hsl(14, 100%, 70%);

  --color1: hsl(199, 18%, 33%);

  --box-shadow: 0 2px 12px 0 hsla(0, 0%, 0%, 0.1), 0 3px 11px -2px hsla(0, 0%, 0%, 0.1), 0 1px 5px 0 hsla(0, 0%, 0%, 0.1);

  @media (prefers-color-scheme: dark){

  --surface1: hsl(200, 19%, 18%);
  --surface2: hsl(200, 18%, 26%);
  --surface3: hsla(0, 0%, 20%, 0.3);
  --surface4: hsla(0, 0%, 0%, 0.2);

  --color1: hsl(0, 0%, 93%);

  }
}
