@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import "variables";
@import "nav";
@import "home";