.cursor {
	--x: 0;
	--y: 0;
	position: fixed;
	top: 0;
	left: 0;
	aspect-ratio: 1;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid hsl(0, 0%, 93%);
	transform: scale(0);
	transform-origin: center;
	transition: transform 3s ease-in-out;
  z-index: 1000;
  pointer-events: none;
}

body:hover .cursor {
	width: 20px;
  transform: translate(var(--x), var(--y)) scale(1);
	animation: shrink-expand 1s alternate infinite;
}

@keyframes shrink-expand {
	0% {
		transform: translate(var(--x), var(--y)) scale(1);
	}
	100% {
		transform: translate(var(--x), var(--y)) scale(2.5);
	}
}
