.cursor {
	--x: -50px;
	--y: -50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	aspect-ratio: 1;
	background-color: transparent;
	border: 1px solid var(--color1);
	border-radius: 50%;
	transform: translate(var(--x), var(--y)) scale(0);
	transform-origin: center;
	transition: transform 10s ease-in-out;
	pointer-events: none;
	z-index: 999;
}

body:hover .cursor {
	animation: shrink-expand 1s alternate infinite;
}

@keyframes shrink-expand {
	0% {
		transform: translate(var(--x), var(--y)) scale(1);
	}
	100% {
		transform: translate(var(--x), var(--y)) scale(2.5);
	}
}
@media (max-width: 767.98px) {
	body:hover .cursor{
		animation: none;
	}
}
