.education{
  color: var(--color1);
  max-width: 500px;
  margin-block-end: 15vh;
  &__heading{
		padding-inline-start: 4rem;
		h2{
			font-size: 2rem;
			margin-block: .5rem;
		}
	}
	&__content{
		position: relative;
		padding: 1rem 1rem 1rem 4rem;
		cursor: pointer;

		transition: background-color .3s ease-in-out;

		h3{
			font-size: 1.2rem;
      margin-block-start: 0;
      margin-block-end: 0.4rem;
		}
    .institute{
      font-size: .8rem;
    }

		p{
			font-size: .9rem;
      margin-block-end: 0;
		}

		.year{
			position: absolute;
      content: var(--year);
      width: 2rem;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .6rem;
      border-radius: 50%;
      color: var(--surface1);
      background-color: var(--color1);
      box-shadow: inset 0 0 0 1.5px var(--surface1);
      border: 1.5px solid var(--color1);
      left: 1rem;
      top: 0.74rem;
      z-index: 2;
		}
	}

	&__content:not(:last-child):before{
		position: absolute;
		content: "";
		width: 3px;
		background-color: var(--color1);
		left: calc(2rem - 1.5px);
		top: 2.74rem;
		bottom: -.74rem;
		z-index: 1;
	}
}
