section.home{
  min-height: 100vh;
  background-color: var(--surface1);
  text-align: center;
  color: var(--color1);
  padding-block: 15vh;

  .intro{

    &__logo{
      width: 2rem;
      fill: var(--color1);
      margin-bottom: 10vh;
    }

    &__name h1{
      font-family: 'Heebo';
      font-size: 2rem;
      font-weight: 700;
      margin-block: 0;
    }

    &__hello, &__designation h2{
      font-size: .75rem;
      font-weight: normal;
    }

    &__image{
      img{
        object-fit: cover;
        width: calc(10rem + 5vw);
        border-radius: 50%;
        aspect-ratio: 1;
        margin-block: 5rem;
        box-shadow: var(--box-shadow);
      }
    }
  }
}
