section.home{
  min-height: 100vh;
  background-color: var(--background-color1);
  text-align: center;
  color: var(--text-color1);
  padding-block: 15vh;

  header{
    font-family: 'Major Mono Display';
    font-size: 1.5rem;
  }
  
  .intro{
    margin-top: 10vh;
    color: var(--text-color1);
  
    &__name h1{
      font-family: 'Heebo';
      font-size: 2rem;
      font-weight: 700;
      margin-block: 0;
    }

    &__hello, &__designation h2{
      font-size: .75rem;
      font-weight: normal;
    }

    &__image{
      img{
        object-fit: cover;
        width: calc(10rem + 5vw);
        border-radius: 50%;
        aspect-ratio: 1;
        margin-block: 5rem;
      }
    }
  }
}
