nav{
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--surface2);
  padding: 5px 10px;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
  opacity: .7;
  z-index: 1000;

  ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;

    li a{
      span{
        font-size: 20px;
      }

      color: var(--color1);
      background-color: var(--surface3);
      text-decoration: none;
      padding: 8px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
    }
  }
}
